<!--
  File: footer.njk
  Description: Nunjucks partial for rendering the footer across all pages.
  Contains site copyright.
-->

<footer class="footer has-background-light">
  <div class="content has-text-centered">
    <p>© 2025 Whether Weather - All rights reserved.</p>
  </div>
</footer>

