<!--
  File: seven-day-forecast.njk
  Description: Nunjucks component for 7 day forecast.
  The forecast data is dynamically inserted by sevenDay Js.
-->

<section class="content-box">
      <h2 class="title is-4 has-text-white">7 Day Forecast</h2>
      <div id="seven-day-forecast" class="seven-day-list">
        <!-- JavaScript will populate -->
      </div>
    </section>
